{
  // "presets": [
  //   ["env", { "modules": false }],
  //   "stage-3"
  // ],
  "presets": ["@babel/preset-env"],
 "plugins": [["transform-runtime", { "polyfill": false, "regenerator": true }]]


}
